// search_results start

.aboutTop{
    margin-bottom: 60px;
}

.search_results{
    position: relative;
    margin-bottom: 80px;

    &__list{
        display: grid;
        grid-template-columns: 260px auto;
        grid-gap: 60px;
        align-items:start;
    }

    &__form{
        width: 100%;
        height: auto;
        padding: 0px 20px;
    }

    &__title__h5{
        @include fontAll(1rem,400,$text);
        line-height: 130%;
    }

    &__title__h2{
        @include fontAll(1.125rem,600,$title);
        line-height: 130%;
        margin-bottom: 15px;
        display: flex;
        align-items:center;
        grid-gap: 10px;
        justify-content: space-between;
        width: 100%;
        @extend%transition;
        cursor: pointer;
        margin-bottom: 0;
        span{
            font-size: 16px;
            display: block;
            @extend%transition;
        }
    }

    &__aside{
        .search_results__form + .search_results__form{
            margin-top: 10px;
        }

        form{
            background-color:rgba(241, 241, 241, 0.5);
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .active{
            .search_results__title__h2 span{
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
            }

            .search_results__title__h2{
                margin-bottom: 15px;
                color:$red;
            }

            .search_results__aside__item{
                width: 100%;
                height: auto;
                overflow: initial;
                opacity: 1;
            }
        }
    }

    &__aside__item{
        @extend%transition;
        width: 100%;
        height: 0;
        overflow: hidden;
        opacity: 0;
        label+label{
            margin-top: 15px;
        }
    }

    // ---------------------------

    &__list__item{
        .search_results__item + .search_results__item{
            margin-top: 30px;
        }
    }

    &__item{
        border: 1px solid #DBDBDB;
        position: relative;
        background-color:$max;
        display: grid;
        grid-template-columns: 200px auto;
        grid-gap: 30px;
        align-items:center;
        min-height: 200px;
    }

    &__item__link{
        display: flex;
        flex-direction: column;
        height: 100%;
        border-right:1px solid #DBDBDB;
    }

    &__list__data{
        padding-top: 10px;
        padding-right: 35px;
        li+li{
            margin-top: 10px;
        }
    }

    &__title__h3{
        @include fontAll(1.125rem,400,$text);
        line-height: 130%;
        span{
            margin-left: 5px;
            font-weight: 700;
            span{
                background-color:$red;
                color:$max;
                padding: 0px 3px;
            }
        }
    }

    &__img{
       @include fiximg(100%,100%,true);
        img{
            max-height: 250px;
        }
    }

    &__list__max{
        display: flex;
        align-items:flex-start;
        flex-wrap: wrap;
        grid-gap: 10px 20px;
    }

    &__link__max{
        @include fontAll(0.875rem,400,$text);
        line-height: 125%;
        display: flex;
        align-items:center;
        grid-gap: 8px;

        span{
            width: 30px;
            height: 30px;
            display: flex;
            align-items:center;
            justify-content: center;
            color:$red;
            text-align: center;
            background-color:$fon;
        }
    }

    &__cart__item{
        display: flex;
        align-items:center;
        justify-content: space-between;
        grid-gap: 10px;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-right: 30px;
    }

    // ------------------------

    &__cart__map{
        svg{
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center center;
        }
    }

    &__submit{
        @include fontAll(1rem,700,$max);
        line-height: 135%;
        text-transform: uppercase;
        text-align: center;
        padding: 16px 28px;
        background-color:$red;
        display: inline-block;
        @extend%transition;

        &:hover{
            background-color:#9f223f;
        }
    }

    // ------------------------

    &__result{
        background-color:$max;
        margin-bottom: 50px;
    }

    &__result__item{
        border-left: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
        padding: 30px;
    }

    &__result__title__h2{
        @include fontAll(1.625rem,700,$title);
        line-height: 32px;
        background-color:#F8F8F8;
        padding: 14px 30px;
    }

    &__result__form{
        display: flex;
        align-items:center;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__result__input{
        width: 100%;
        height: 50px;
        background-color:#F8F8F8;
        padding: 10px 30px;
        @include fontAll(0.875rem,500,$text);
        line-height: 135%;
        outline: none;
        border:none;
        &::placeholder{
            @include fontAll(0.875rem,500,#ACACAC);
        }
    }

    &__result__button{
        @include fontAll(1.125rem,500,$red);
        line-height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color:#F8F8F8;
    }

    &__result__title__h3{
        @include fontAll(1rem,400,$title);
        line-height: 135%;
    }

    .search_results_in__carusel__cart__icons{
        padding-left: 0px;
        padding-right: 0px;
        padding: 10px 25px;
    }

    &__colors{
        span{
            background-color:transparent;
        }
    }

    // ----------------------

    &__menu{
        margin-top: 30px;
        display: flex;
        align-items:flex-start;
        flex-direction: column;
        grid-gap: 15px;
    }

    &__menu__link{
        @include fontAll(1rem,400,$title);
    }

    &__pagination{
        display: flex;
        align-items:center;
        justify-content: start;
        grid-gap: 20px;
        margin-top: 50px;
        flex-wrap: wrap;
        .active{
            color:$red;
        }
    }

    &__pagination__next{
        @include fontAll(0.875rem,600,$link);
        line-height: 100%;
        @extend%transition;
        width: 30px;
        height: 30px;
        background-color:rgba(36, 36, 36, 0.4);
        display: flex;
        align-items:center;
        justify-content: center;
        &:hover{
            background-color:rgba(36, 36, 36, 0.12);
        }
    }

    &__pagination__link{
        @include fontAll(1rem,600,$title);
        line-height: 100%;
        @extend%transition;
        &:hover{
            color:$red;
        }
    }
}

.input-wrap {
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    grid-gap: 10px;
    cursor: pointer;
  
    /* Hide the browser's default radio button */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: $max;
      position: relative;
    }
    
    /* When the radio button is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: $max;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 8px;
        background-image: url(../foto/Vector.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
      }
    }
  
    /* Show the indicator (dot/circle) when checked */

}

.input-wrap-max{
    display: grid;
    grid-template-columns: auto 20px;
    justify-content: space-between;
    justify-items: start;
    position: relative;
    grid-gap: 10px;
    cursor: pointer;
  
    /* Hide the browser's default radio button */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
  
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: $max;
      position: relative;
    }
    
    /* When the radio button is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: $max;
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 8px;
        background-image: url(../foto/Vector.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
      }
    }
}

// search_results end

@media (max-width:1200px){
    .search_results__result__item{
        padding: 20px;
    }

    .search_results__result__title__h2 {
        font-size: 1.5rem;
    }
}