@import './files/color';
@import './files/fonts';
@import './files/mixins';
@import '_search_results_in';
@import '_search_results';
@import '_writtenSources';

body{
    font-family: 'Proxima Nova', sans-serif;
    box-sizing: border-box;
    overflow: auto !important;
}

.container{
    max-width: 1340px;
    margin: 0 auto;
}

// header start 

.header{
    position: relative;
    background-color:rgba(160, 112, 72, 0.8);
    position: absolute;
    width: 100%;

    &__top{
        padding: 18px 0;    
    }

    &__top__list{
       display: flex;
       align-items: center;
       justify-content: space-between;
       grid-gap: 20px;
       margin-left: 60px;
       margin-right: 60px;
    }

    &__top__list__item{
        display: flex;
        align-items:center;
        grid-gap: 50px;
    }

    &__top__menu{
        display: flex;
        align-items:center;
        grid-gap: 50px;
    }

    &__top__logo{
        @include fiximg(245px,40px,false);
        img{
            max-height: 40px;
            object-position: center;
        }   
    }

    &__top__link{
        @include fontAll(1rem,600,$link);
        line-height: 125%;
        @extend%transition;

        &:hover{
            color:$red;
        }
    }

    &__burger__link{
        @include fontAll(1.125rem,600,$link);
        line-height: 100%;
        background-color:transparent;
    }

    &__burger{
        display: none;
    }

    // ------------------------------------

    &__bottom__sources{
        @include fontAll(0.875rem,700,$max);
        text-transform: uppercase;
        line-height: 100%;
        display: flex;
        align-items:flex-start;
        grid-gap: 5px;
        padding: 18px 30px;
        background-color: $red;
        width: fit-content;
        span{
            svg{
                width: 25px;
                height: 17px;
            }
        }

        @extend%transition;

        &:hover{
            background-color:#9f223f;
        }
    }

    &__bottom__electronic{
        @include fontAll(0.875rem,700,$max);
        text-transform: uppercase;
        line-height: 100%;
        display: flex;
        align-items:flex-start;
        grid-gap: 5px;
        padding: 18px 30px;
        background-color: rgba(255, 255, 255, 0.2);
        width: fit-content;
        height: 50px;
        span{
            svg{
                width: 10px;
                height: 10px;
            }
        }
    }

    &__bottom__item{
        position: relative;
    }

    &__bottom__mein{
        position: absolute;
        margin-top: 10px;
        top: 100% !important;
        left: 0;
        width: 220px;
        height: auto;
        padding: 10px 22px;
        background-color:$max;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        display: grid !important;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        opacity: 0;
        z-index: -1000;
    }

    &__bottom__link{
        @include fontAll(1rem,400,$text);
        line-height: 130%;
        @extend%transition;

        &:hover{
            color:$red;
        }
    }

    &__top__cart__link{
        @include fontAll(1rem,500,$link);
        line-height: 135%;
        background-color:transparent;
        display: flex;
        align-items:center;
        grid-gap: 10px;
    }

    &__top__cart{
        display: flex;
        align-items:center;
        grid-gap: 40px;
    }

    .modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
}

.sidenav-overlay{
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 1 !important;;
    will-change: opacity;
}

// header end

// slikFon start

.slikFon{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    z-index: 10;
    width: 100%;
    height: 100vh;
    max-height: 2000px;
    min-height: 250px;
    margin-bottom: 60px;

    .container{
        height: 100%;
    }

    &__cart{
        height: 100%;
        padding: 80px 0;

    }

    &__text{
        @include fontAll(1.375rem,600,$max);
        line-height: 135%;
        text-align: center;
        a{
            font-size: 100%;
            border-bottom: 2px solid $max;
        }
    }

    &__list{
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center; 
        flex-direction: column;
        grid-gap: 30px;
    }

    &__form{
        display: flex;
        align-items:center;
        justify-content: center;
    }

    &__form__input{
        width: 450px;
        height: 50px;
        background-color:$max;
        padding: 10px 30px;
        @include fontAll(0.875rem,500,$text);
        line-height: 135%;
        outline: none;
        border:none;
        &::placeholder{
            @include fontAll(0.875rem,500,#ACACAC);
        }
    }

    &__form__button{
        @include fontAll(1.125rem,500,$red);
        line-height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color:$max;
    }

    &__all__link{
        @include fontAll(1rem,700,$max);
        line-height: 135%;
        text-transform: uppercase;
        text-align: center;
        padding: 16px 28px;
        background-color:$red;
        display: inline-block;
        @extend%transition;

        &:hover{
            background-color:#9f223f;
        }
    }

    &__cart__list__text{
        @include fontAll(1.375rem,500,$max);
        line-height: 140%;
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        span{
           font-size: 1.5rem;
           font-weight: 700;
        }
    }

    &__cart__list{
        display: flex;
        align-items: flex-start;
        li{
            position: relative;
            max-width: 500px;
        }

        li+li{
            margin-left: 30px;
            padding-left: 30px;
            &::after{
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                left: -0.5px;
                background-color:rgba(255, 255, 255, 0.6);
            }
        }
    }
}

// slikFon end

// maps start

.maps{
    position: relative;
    margin-bottom: 60px;

    &__list{
        display: grid;
        grid-template-columns: 260px auto;
        grid-gap: 80px;
        align-items: center;
        margin-bottom: 30px;
    }

    &__menu{
        background-color:#F1F1F1;
        padding: 25px 30px;
        width: 100%;
        height: auto;
        color:$red;
        font-size: 25px;
        line-height: 100%;
        li+li{
            margin-top: 15px;
        }
    }

    &__link{
        @include fontAll(1.125rem,400,$text);
        line-height: 130%;
        @extend%transition;
        &:hover{
            color:$red;    
        }
    }

    &__svg{
        svg{
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center center;
        }
    }

    .search_results_in__title__h2{
        display: flex;
        align-items:flex-start;
        grid-gap: 10px;
        span{
            width: 20px;
            height: 24px;
            fill:#242424;
            opacity: 0.3;
            svg{
                width: 20px;
                height: 24px;
                fill:#242424;
            }
        }
    }

    &__table{
        table{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 30px;
            tr{
                display: grid;
                grid-template-columns: 200px 300px 300px 200px;
                justify-content: space-between;
                align-items: start;
                padding: 10px 0px;
                border-bottom:1px solid #DBDBDB;
                th{
                    text-align: left;
                    @include fontAll(1.125rem,600,$title);
                    line-height: 135%;
                }

                td{
                    text-align: left;
                    @include fontAll(1.125rem,400,$title);
                    line-height: 135%;
                }

                td + td{
                    color:$red;
                }

                td + td + td{
                    color:$title;
                }
            }

            tr+tr{
                border:none;
            }
        }
    }

    &__readAlot{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
        align-items: start;
        margin-top: 30px;
    }

    &__readAlot__item{
        display: grid;
        grid-template-columns: 200px auto;
        align-items: start;
        grid-gap: 30px;
        background-color:$max;
        border: 1px solid #DBDBDB;
    }

    &__readAlot__img{
        @include fiximg(100%,100%,true);
        img{
            min-height: 150px;
            max-height: 300px;
            object-position: center center;
        }
    }

    &__readAlot__item__text{
        padding: 20px 20px 20px 0px;
    }

    &__readAlot__menu{
        display: flex;
        align-items: start;
        flex-direction: column;
        grid-gap: 10px;
    }

    &__readAlot__title{
        @include fontAll(1rem,400,$title);
        line-height: 135%;

        span{
            font-weight: 600;
        }
    }

    &__readAlot__list{
        display: flex;
        align-items:flex-start;
        flex-wrap: wrap;
        grid-gap: 10px;
        margin-top: 30px;
    }

    &__readAlot__list__link{
        @include fontAll(0.875rem,400,$title);
        line-height: 125%;
        display: flex;
        align-items:center;
        grid-gap: 8px;

        span{
            width: 30px;
            height: 30px;
            display: flex;
            align-items:center;
            justify-content: center;
            color:$red;
            text-align: center;
            background-color:$fon;
        }
    }
}

// maps end

// written_sources start

.written_sources{
    position: relative;
    margin-bottom: 60px;

    &__list__cart{
        display: flex;
        align-items:center;
        grid-gap: 35px;
        flex-wrap: wrap;
    }

    &__link{
        @include fontAll(0.875rem,700,$red);
        line-height: 130%;
        text-transform: uppercase;
        display: inline-block;
    }
}

// written_sources end

// historical_documents start

.historical_documents{
    margin-bottom: 60px;
    padding: 60px 0;
    background-color:$fon;
    width: 100%;
    height: auto;
}

// historical_documents end

// history_uzbekistan start

.history_uzbekistan{
    position: relative;
    margin-bottom: 60px;

    &__item{
        width: 100%;
        height: 300px !important;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center top;
        position: relative;
        z-index: 0;

        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(269.89deg, rgba(0, 0, 0, 0) 0.09%, rgba(0, 0, 0, 0.469) 48.96%, rgba(0, 0, 0, 0.7) 99.9%);
        }
    }

    &__item__text{
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translate(0,-50%);
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -ms-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        z-index: 10;
    }

    &__title__h2{
        @include fontAll(1.875rem,800,$max);
        line-height: 130%;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__data{
        @include fontAll(1rem,400,$max);
        line-height: 100%;
        margin-bottom: 25px;
    }

    &__link{
        padding: 15px 30px;
        background-color:$red;
        @include fontAll(0.875rem,600,$max);
        display: inline-block;
        @extend%transition;

        &:hover{
            background-color:#9f223f;
        }
    }

    &__list{
        .slick-arrow{
            font-size: 0;
            @extend%transition;
            &:hover{
                background-color:#242424;
            }
        }

        .slick-prev {
            background-color:rgba(36, 36, 36, 0.4);
            width: 30px;
            height: 30px;
            position: absolute;
            top: 20px;
            right: 60px;
            z-index: 20;
            &::after{
                content: "";
                display: block;
                width: 5px;
                height: 10px;
                background-repeat:no-repeat;
                background-size:cover;
                background-image:url(../foto/left.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }

        .slick-next {
            background-color:rgba(36, 36, 36, 0.4);
            width: 30px;
            height: 30px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 20;
            &::after{
                content: "";
                display: block;
                width: 5px;
                height: 10px;
                background-repeat:no-repeat;
                background-size:cover;
                background-image:url(../foto/right.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }
    }
}

// history_uzbekistan end

// electronic_library start

.electronic_library{
    position: relative;
    margin-bottom: 60px;

    &__name{
        @include fontAll(0.875rem,600,$red);
        line-height: 130%;
        padding: 0 20px;
        margin-bottom: 60px;
        display: inline-block;
    }

    .search_results_in__carusel__cart__item{
        padding-bottom: 0;
        margin: 15px 10px;
    }

    &__list{
        margin-top: 15px;

        .slick-arrow{
            font-size: 0;
            @extend%transition;
            &:hover{
                background-color:rgba(36, 36, 36, 0.12);
            }
        }

        .slick-prev {
            background-color:rgba(36, 36, 36, 0.4);
            width: 30px;
            height: 30px;
            position: absolute;
            top: -60px;
            right: 40px;
            &::after{
                content: "";
                display: block;
                width: 5px;
                height: 10px;
                background-repeat:no-repeat;
                background-size:cover;
                background-image:url(../foto/left.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }

        .slick-next {
            background-color:rgba(36, 36, 36, 0.4);
            width: 30px;
            height: 30px;
            position: absolute;
            top: -60px;
            right: 0px;
            &::after{
                content: "";
                display: block;
                width: 5px;
                height: 10px;
                background-repeat:no-repeat;
                background-size:cover;
                background-image:url(../foto/right.svg);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
            }
        }
    }
}

// electronic_library end

// news start

.news{
    position: relative;
    margin-bottom: 60px;

    .written_sources__list__cart{
        justify-content: space-between;
    }

    &__list{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 330px;
        grid-gap: 30px;
    }

    &__item{
        border: 1px solid #DBDBDB;
        background-color:$max;
        padding-top: 20px;
    }

    &__title__h3{
        @include fontAll(1.875rem,800,$title);
        line-height: 135%;
        padding-left: 30px;
        padding-right: 20px;
        margin-bottom: 10px;

        min-height: 80px;
        max-height: 80px;
        -webkit-line-clamp: 2;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    &__data{
        @include fontAll(0.75rem,600,$red);
        line-height: 100%;
        padding-left: 30px;
        padding-right: 20px;
    }

    &__img{
        @include fiximg(100%,250px,true);
        img{
            object-position: center top;
            max-height: 250px;
        }
    }

    &__cart__item{
        background-color:$max;
        border: 1px solid #DBDBDB;
        a{
            display: grid;
            grid-template-columns: 90px auto;
            grid-gap: 20px;
            align-items:center;
        }
    }

    &__cart__img{
        @include fiximg(100%,90px,true);
        img{
            aspect-ratio: 1;
            max-height: 90px;
        }
    }

    &__cart__title__h3{
        @include fontAll(0.875rem,600,$text);
        line-height: 135%;

        min-height: 38px;
        max-height: 38px;
        -webkit-line-clamp: 2;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    &__cart__list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
        overflow-y: scroll;
        height: 444px;
        padding-right: 10px;
    }

    &__item__text{
        position: relative;
        padding-bottom: 70px;
    }
}

.news__cart__list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.news__cart__list::-webkit-scrollbar-track {
    background: $fon;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.news__cart__list::-webkit-scrollbar-thumb {
    background: rgba(162, 0, 37, 0.6);
    height: 8px;
    border-radius: 50px;
}

// news end

// tarixmanba start

.tarixmanba{
    position: relative;
    margin-bottom: 60px;

    &__text{
        margin-top: 20px;
        @include fontAll(1rem,400,$title);
        line-height: 135%;
        text-align: justify;
    }
}

// tarixmanba end

// footer start

.footer{
    position: relative;
    background-color:#A07048;
    width: 100%;
    height: auto; 
    padding:20px 0;

    &__bottom__list{
        display: flex;
        align-items:center;
        justify-content: space-between;
        grid-gap: 10px;
        flex-wrap: wrap;
    }

    &__bottom__title__h4{
        @include fontAll(1rem,400,$max);
        text-align: center;
        line-height: 135%;
        a{
            font-size: 110%;
            font-weight: 500;
        }
    }
}

// footer end

@media (max-width:1450px){
    .header__top__list{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }

    .header__top__list__item{
        display: grid;
        grid-template-columns: 250px min-content auto;
    }

    .header__top__menu{
        justify-content: space-between;
        grid-gap: 15px;
    }

    .maps__table{
        overflow-x: scroll;
        margin-bottom: 20px;

        .table{
            width: 1400px;
        }
    }    

    .maps__table::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .maps__table::-webkit-scrollbar-track {
        background: $fon;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    
    .maps__table::-webkit-scrollbar-thumb {
        background: rgba(162, 0, 37, 0.6);
        height: 8px;
        border-radius: 50px;
    }
}

@media (max-width:1260px){
    .header__top__list,
    .search_results__list,
    .footer__bottom__list,
    .search_results_in__cart,
    .search_results_in__cart__max,
    .search_results_in__bottom__cart,
    .search_results_in__map_in__list,
    .search_results_in__video__cart,
    .search_results_in__virtual_tur__list,
    .written_sources__cart,
    .historical_documents__cart,
    .electronic_library__cart,
    .news__cart,
    .tarixmanba__cart,
    .maps__cart,
    .slikFon__cart{
        margin-left: 30px;
        margin-right: 30px;
    }

    .maps__list {
        grid-gap: 60px;
    }

    .search_results__title__h3,
    .search_results__title__h2{
        font-size: 1rem;
    }

    .search_results__title__h5,
    .footer__bottom__title__h4,
    .history_uzbekistan__link{
        font-size: 0.875rem;
    }

    .search_results__list{
        grid-gap: 30px;
    }

    .history_uzbekistan__title__h2,
    .news__title__h3{
        font-size: 1.75rem;
    }

    .news__title__h3{
        min-height: 75px;
        max-height: 75px;
    }
}

@media (max-width:1200px){
    .written_sources,
    .historical_documents,
    .electronic_library,
    .news,
    .tarixmanba,
    .slikFon,
    .maps,
    .aboutTop,
    .search_results__result{
        margin-bottom: 30px;
    }

    .search_results__pagination,
    .search_results_in .written_sources{
        margin-top: 30px;
    }
}

@media (max-width:1000px){

    .header,
    .search_results,
    .search_results_in{
        margin-bottom: 30px;
    }

    .history_uzbekistan__title__h2,
    .news__title__h3{
        font-size: 1.625rem;
    }

    .news__title__h3{
        min-height: 70px;
        max-height: 70px;
    }

    .slikFon__cart{
        padding: 0px;
        padding-top: 60px;
    }

    .search_results__list{
        grid-template-columns: auto;
    }

    .maps__readAlot{
        grid-template-columns: 1fr;
    }

    .header__bottom__list__item{
        grid-gap: 30px;
    }

    .header__top__link{
        color:$text;
    }

    .search_results__title__h2{
        span{
            font-size: 0.875rem;
        }
    }

    .header__burger{
        display: block;
    }

    .header__top__menu{
        flex-direction: column;
        align-items:flex-start;
        justify-content: initial;
        grid-gap: 20px;
    }

    .header__top__menu__top{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        background-color:#fff;
        width: 400px;
        height: 100%;
        padding: 20px;
        transform: translateX(-105%);
        -webkit-transform: translateX(-105%);
        -moz-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        -o-transform: translateX(-105%);
    }

    .news__list{
        grid-template-columns: 1fr 1fr 280px;
        grid-gap: 20px;
    }

    .news__list{
        margin-top: 20px;
    }

    .header__top__list__item {
        display: grid;
        grid-template-columns: 250px min-content 20px;
        justify-content: center;
    }

    .header__top__cart{
        justify-content: center;
    }

    .slikFon__text{
        font-size: 1.25rem;
    }

    .slikFon__cart__list__text {
        font-size: 1.25rem;
    }
}

@media (max-width:950px){
    .news__list {
        display: grid;
        grid-template-areas: 'news__item_1 news__item_1 news__item_2 news__item_2' 
                             'news__item_3 news__item_3 news__item_3 news__item_3';
        grid-template-columns: auto;
        grid-gap: 20px;

        .news__item{
            grid-area: news__item_1;
        }

        .news__item + .news__item{
            grid-area: news__item_2;
        }
    }

    .written_sources__list__cart{
        grid-gap: 20px;
    }

    .news__cart__list{
        grid-area: news__item_3;
        height:330px;
    }

    .history_uzbekistan__title__h2, .news__title__h3 {
        font-size: 1.5rem;
    }

    .news__title__h3{
        min-height: 65px;
        max-height: 65px;
    }
}

@media (max-width:850px){
    .header__bottom__list__item{
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .search_results__result__title__h2 {
        font-size: 1.375rem;
    }

    .history_uzbekistan__title__h2, .news__title__h3 {
        font-size: 1.375rem;
    }

    .news__title__h3{
        min-height: 60px;
        max-height: 60px;
    }

    .history_uzbekistan__item{
        height: 250px !important;
    }

    .maps__list{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }

    .slikFon__text {
        font-size: 1.125rem;
    }

    .slikFon__cart__list__text {
        font-size: 1.125rem;
    }

    .slikFon__all__link,
    .header__bottom__sources,
    .history_uzbekistan__link,
    .search_results__submit{
        font-size: 0.875rem;
        padding: 14px 20px;
    }
}

@media (max-width:650px){
    .search_results__item{
        grid-template-columns: auto;
        grid-gap: 20px;
    }

    .search_results__aside form{
        padding-bottom: 20px;
    }

    .search_results__menu {
        margin-top: 20px;
    }

    .search_results__result__title__h2 {
        font-size: 1.25rem;
    }

    .header__top__list__item,
    .header__top__cart,
    .maps__readAlot__item{
        grid-gap: 20px;
    }

    .footer{
        padding: 15px 0px;
    }

    .slikFon__form{
        width: 100%;
    }

    .slikFon__form__input{
        width: 100%;
        height: 40px;
    }

    .slikFon__form__button{
        width: 40px;
        height: 40px;
    }

    .maps__menu {
        padding: 20px 25px;
    }

    .maps__link {
        font-size: 1rem;
    }

    .maps__table table tr th,
    .maps__table table tr td{
        font-size: 1rem;
    }

    .slikFon__cart__list{
        flex-direction: column;
        grid-gap: 10px;
    }

    .slikFon__cart__list li + li{
        margin-left: 0px;
        padding-left: 0px;
    }

    .slikFon__cart__list li + li::after{
        display: none;
    }

    .slikFon__list{
        grid-gap: 20px;
    }

    .search_results__img img {
        max-height: 350px;
    }

    .search_results__list__data{
        padding-top: 0;
        padding-left: 20px;
        padding-right: 25px;
    }

    .search_results__cart__item{
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 25px;
    }

    .search_results__aside .search_results__form + .search_results__form {
        margin-top: 15px;
    }

    .header__bottom__electronic,
    .header__bottom__sources{
        padding: 16px 20px;
        height: auto;
    }

    .header__bottom__sources span svg {
        height: 12px;
    }

    .footer__bottom__title__h4{
        width: 100%;
    }

    .news__list {
        grid-template-areas:
            "news__item_1 news__item_1"
            "news__item_2 news__item_2"
            "news__item_3 news__item_3";
    }

    .electronic_library__list{
        margin-top: 60px;
    }

    .electronic_library__list .slick-prev {
        left: 0;
        top: -40px;
    }

    .electronic_library__list .slick-next {
        left: 40px;
        top: -40px;
    }

    .search_results__item__link{
        border-right: none;
        border-bottom: 1px solid #DBDBDB;
    }

    .search_results__result__input{
        height: 40px;
        padding: 10px 20px;
    }

    .search_results__result__button{
        height: 40px;
        width: 40px;
    }
}

@media (max-width:550px){
    .header__top__list__item{
        justify-content: center;
    }

    .header__top__menu__top {
        width: 300px;
    }

    .news__item__text {
        padding-bottom: 30px;
    }

    .header__bottom__mein{
        right: 0px;
        left: auto;
    }

    .written_sources__list__cart {
        grid-gap: 10px;
    }
}

@media (max-width:500px){
    .header__bottom__sources{
        font-size: 0px;
        padding: 10px 10px 10px 5px;
    }

    .header__top__logo{
        width: 100%;
    }

    .header__top__list__item {
        grid-template-columns: auto min-content min-content;
    }

    .header__top__cart__link {
        font-size: 0.875rem;
    }

    .maps__readAlot__item{
        grid-template-columns: 1fr;
    }

    .maps__readAlot__item__text{
        padding: 0px 20px 20px 20px;
    }

    .maps__readAlot__list {
        margin-top: 15px;
    }
}

@media (max-width:460px){
    .header__bottom__list__item{
        flex-direction: column;
        grid-gap: 15px;
    }

    .header__bottom__sources,
    .header__bottom__electronic{
        width: 100%;
        justify-content: center;
    }
}

@media (max-width:400px){
    .header__top__menu__top {
        width: 280px;
    }
}